$prime-color : #f70630;
$dark-color : #141414;
$accent-color : #9bcff5;
.auth-block{
  height: 100%;
  // overflow: hidden;
  margin: -1%;
  padding: 1%;
  display: flex;
  a{
    color: $prime-color;
    font-weight: 600;
  }
  .form-block,.logo-block{
    flex: 1;
    padding: 2% 2%;
  }
  .logo-block{
    h1{
      width: fit-content;
      padding: 2% 3%;
      color: white;
      font-size: 45px;
      border-radius: 3px;
      font-family: monospace;
      background: $dark-color;
      box-shadow: 5px -5px 0 $prime-color, -5px 5px 0 $accent-color;
    }
    span{
      color: $prime-color;
    }
    img{
      width: 70%;
    }
  }

  .form-block{
    padding-bottom: 50px;
    form{
      width: 50%;
      margin: 0 auto;
    p{
      color: grey;
      margin: 0;
      font-size: 15px;
    }
    h2{
      margin: 0;
    }
    .error-msg{
      background-color: #ff00004f;
      padding: 2px 5px;
      border-radius: 2px;
      color: red;
      margin-top: 20px;
    }
    }
    .input-block{
      margin-top: 25px;
      position: relative;
      p{
        margin: 5px 2px;
        font-size: 17px;
        font-weight: bold;
        color: $dark-color;
      }
      input{
        background: #def1ff;
        border: 0;
        outline: unset;
        // box-shadow: 0 1px 0 0 $dark-color,0 -1px 0 0 $dark-color,-1px 0 0 0 $dark-color,1px 0 0 0 $dark-color;
        border-radius: 3px;
        padding: 0 3%;
        width: 94%;
        height: 42px;
        font-family: inherit;
      }
      .error{
        box-shadow: 0 1px 0 0 red,0 -1px 0 0 red,-1px 0 0 0 red,1px 0 0 0 red;
      }
      span{
        position: absolute;
        bottom: 0px;
        right: 3px;
        font-size: 12px;
        color: red
      }
    }
    button{
      width: 100%;
      margin: 20px 0;
      height: 42px;
    }
  }
  .profile{

    height: 50px;
    width: 50px;
    overflow: hidden;
    flex: none;
    border-radius: 100%;
    border: 2px dashed #141414;
    cursor: pointer;
    .upload-profile{
      width: 98%;
      height: 98%;
      border-radius: 100%;
    }
    .upload-profile:hover{
      opacity: 0.9;
    }
  }
  .upload-btn{
    // width: auto !important;
    margin: 10px !important;
  }
}

@media screen and (max-width: 769px) {
  .form-block{
    form{
      width: 90% !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .auth-block{
    display: block;
    .logo-block{
      img{
        display: none;
      }
    }
  }
}
