<ng-container>

  <!-- header -->
  <app-header [nav]="sidenav" ></app-header>

  <mat-sidenav-container class="sidenav-container">

    <!-- sidenav -->
    <mat-sidenav class="sidenav" #sidenav [opened]="(screenWidth > 425 && navStatus)"
      [mode]="(screenWidth > 768 )? 'side':'over' ">
      <mat-nav-list class="sidenav-list">
        <a mat-list-item [routerLink]="['/feeds']" routerLinkActive="active-route"  > 🏘️ home </a>
        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active-route"  > 🧑 Dashboard </a>
        <a mat-list-item [routerLink]="['/auth/login']" routerLinkActive="active-route" > 🚀 Login </a>
        <a mat-list-item [routerLink]="['/auth/register']" routerLinkActive="active-route" > 🚀 Register </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- sidenav content -->
    <mat-sidenav-content class="sidenav-content main-panel">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
